/* /////////////////////////////////////////// */
/* Affect ALL */
/* /////////////////////////////////////////// */
.list-group-item {
  line-height: 2.5;
}

html {
  scroll-behavior: smooth;
  
}



body {
  width: 100%;
}
a { 
  text-decoration: none; 
  color : rgb(0, 0, 0); 
}

.list-group-item {
  line-height: 2.5;
}
footer {
  margin-top: 6%;
}
/* //////////////////////////////////////////// */
/* End of Affect ALL */
/* //////////////////////////////////////////// */


/* /////////////////////////////////////////// */
/* Nav bar  */
/* /////////////////////////////////////////// */
.font-control {
  font-weight: bold;
  padding-left: 5%;
}


#logo-control {
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;

}

#nav-color {
  background-color: #e3f2fd;
}

.nav-control {
  margin-left: 60%;
}

#main-logo-control {
  margin-left: 5%;
}
/* /////////////////////////////////////////// */
/* end of nav bar */
/* ///////////////////////////////////// */


/* /////////////////////////////////////////// */
/* Buttons */
/* /////////////////////////////////////////// */
.button-color {
  background-color: rgb(26, 159, 248);
  border: none;
  margin: 5px;
}

.button-color:hover {
  background-color: rgb(206, 135, 105);
}

  
  .signUpButton {
    margin-top: 10%;
    width: 200px;
   
  }
  .buttonContainer {
    text-align: center;
  }
  .meetBlogBtns {
    width: 100px;
    padding:5px;;
  }

  .continueBTN {
    color:rgb(0, 119, 255);
  }

  .formBlogBtn {
    width: 75%;
    margin-top: 23px;
    font-weight:bold;

  }
  .backToTop {
    margin-left: 82%;
    margin-top: 40px;
    
  }


  
  
/* /////////////////////////////////////////// */
  /* End of Buttons */
/* /////////////////////////////////////////// */
   

/* /////////////////////////////////////////// */
/* Intro */
/* /////////////////////////////////////////// */
.intro{
  background-image: url("https://i.pinimg.com/originals/66/e2/7c/66e27c2d4e57b720e742015a168638bd.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  margin-top: 5%;
  height:400px;
  max-height: 400px;
  opacity: .8;
  
}
.welcome {
  width: 100%;
  margin-top:8%;
  height: 50px;
  color: rgb(0, 0, 0);
  text-align: center;
}
.introText {
  background-color: whitesmoke;
  opacity: .85;
  font-size: 23px;
  width: 100%;
  margin-top: 9%;
  margin-left: 5%;
  padding: 10px;
}
.introtext2 {
  text-align: center;

}
.locationIMG {
  background-image: url("https://i.pinimg.com/originals/60/01/5e/60015e77304745e2d083c5584a71464e.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  width: 100%;
  margin-top: 5%;
  height:150px;
  max-height: 150px;
}
.locationBorder {
  background-color: whitesmoke;
  opacity: .8;
  text-align: center;
  margin-top: 10%;

}
.moveDown {
  color: white;
  margin-top: 30px;
  padding-top: 5%;
}
.locationText {
  text-shadow: -1px 0 rgb(119, 117, 117), 0 1px rgb(114, 114, 114), 1px 0 rgb(93, 93, 93), 0 -1px rgb(65, 65, 65);
}
/* /////////////////////////////////////////// */
/* End of Intro */
/* /////////////////////////////////////////// */


/* /////////////////////////////////////////// */
/* Meet up API Examples */
/* /////////////////////////////////////////// */
.meetUps {
  background-color: whitesmoke;
  opacity: .8;
  font-size: 23px;
  width: 100%;
  margin-top: 10%;
  padding: 10px;
}
.meetupsmargins {
  margin-top: 66px;
}
#map {
  height: 600px;
  width: 100%;
  margin-top: 3%;
}
.eventimg {
  background-image: url("https://www.billboard.com/files/styles/article_main_image/public/media/pitchfork-fest-2014-billboard-1548.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
 

}

.sizingmeets {
  margin-top: 30px;
  margin-bottom: 30px;
  border: solid whitesmoke;

}

.showBox {
border: 2px solid whitesmoke;
margin-top: 15px;
border-radius: 10px;

}
.showBox:hover{
  background-color: whitesmoke;
  border:2px solid skyblue;
  cursor: pointer;
}
.namePad {
  padding: 10px;
}
.innermeetUp {
  background-color: whitesmoke;
  opacity: .9;
  font-size: 23px;
  width: 100%;
  padding: 15px;
}
/* /////////////////////////////////////////// */
/* End of Meet up */
/* /////////////////////////////////////////// */





/* /////////////////////////////////////////// */
/* Blog API Examples */
/* /////////////////////////////////////////// */
.blog {
  background-color: whitesmoke;
  /* opacity: .8; */
  font-size: 23px;
  width: 100%;
  margin-top: 10%;
  padding: 10px;
  

}
.blogCont{
  margin-top: 12%;
  border: 2px solid rgb(180, 180, 180);
  border-radius: 10px;
  background-color: whitesmoke;

}
.blogContHB{
  margin-top: 5%;
  border: 2px solid rgb(180, 180, 180);
  border-radius: 10px;
  background-color: whitesmoke;

}
.blogContHB:hover{
  background-color: rgba(229, 246, 251, 0.753);
  border:2px solid skyblue;
  cursor: pointer;
  opacity: .8;
}
.blogCont:hover{
  background-color: rgba(229, 246, 251, 0.753);
  border:2px solid skyblue;
  cursor: pointer;
  opacity: .8;
}
.innerBlog {
  
  font-size: 23px;
  width: 100%;
  padding: 15px;
}
.nameUnderLine {
border-bottom: 2px solid rgb(187, 187, 187);
}
.bloggingBox {
  border: 2px solid rgb(219, 219, 219);
  padding: 10px;
  background-color: white;
}

.homePGblogtext {
padding: 10px;
margin-top: 6%;
margin-bottom: -10%;
}

.form-wrap {
  border: solid #e3f2fd;
  width: 100%;
  background-color: #e3f2fd;
  opacity: .8;
  padding: 20px;
  box-shadow: 5px 10px 18px #888888;
 
  
}
.marginTopPG {
  margin-top: 6%;
  text-align: center;
 
}
.input-group {
  width: 100%;
  margin-top: 10px;

}
.input-box {
  border: solid rgb(212, 212, 212);
  width:100%;
}
.infoText {
  font-weight:bold;
}
.error {
 border: solid black;
}
/* /////////////////////////////////////////// */
/* End of Blog API */
/* /////////////////////////////////////////// */


/* /////////////////////////////////////////// */
/* SIGNUP FORM */
/* /////////////////////////////////////////// */
#signup-jumbotron{
  background-image: url('../img/SignUpPic.jpg');
  background-size: 100%;
  background-position: top;
  height:200px;
  opacity: .9;
}

#signup-title{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

/* /////////////////////////////////////////// */
/* END of SIGNUP FORM */
/* /////////////////////////////////////////// */


/* /////////////////////////////////////////// */
/* Join section */
/* /////////////////////////////////////////// */
.aboutUs {
 
  background-repeat: none;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 540px;
}
.aboutUs:hover {
  background-color: rgba(229, 246, 251, 0.753);
  display:2px solid rgb(220, 240, 248);
  cursor: pointer;
}
.imgSize {
  width: 100%;
  max-width: 540px;
  height: 400px;
 
}
.choices {
  padding-bottom: 20px;
}
/* /////////////////////////////////////////// */
/* End Join section*/
/* /////////////////////////////////////////// */

/* SIGNUP FORM */
#signup-jumbotron{
  background-image: url(../img/SignUpPic.jpg);
  background-size: 100%;
  background-position: center;
}

#signup-title{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}


/* /////////////////////////////////////////// */
/* Footer */
/* /////////////////////////////////////////// */
footer {
  padding: 10px;
  text-align: center;
}
/* /////////////////////////////////////////// */
/* End of Footer */
/* /////////////////////////////////////////// */

