<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  {{!-- GOOGLE FONT --}}
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css" media="screen" title="Sip_n_Learn" charset="utf-8">
  <title>Sip_n_Learn</title>
</head>


  <header class="inner">

<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="nav-color">
<a
class="navbar-brand font-control"
id="main-logo-control"
href="/"
><span id="logo-control">Sip & Learn</span></a
>
<button
class="navbar-toggler"
type="button"
data-toggle="collapse"
data-target="#navbarSupportedContent"
aria-controls="navbarSupportedContent"
aria-expanded="false"
aria-label="Toggle navigation"
>
<span class="navbar-toggler-icon"></span>
</button>

<div
class="collapse navbar-collapse nav-control"
id="navbarSupportedContent"
>
<ul class="navbar-nav mr-auto">
<li class="nav-item active">
<a class="nav-link font-control" href="/"
>Home <span class="sr-only">(current)</span></a
>
</li>
<li class="nav-item">
<a class="nav-link font-control" href="/signup">Sign Up</a>
</li>

</ul>
</div>
</nav>
<!-- NavBar Ends -->
</header>

<div class="container">
  {{{body}}}

<a href="#" class="btn btn-primary backToTop">Back to Top</a>
<!-- Footer -->
<footer class="bg-black small text-center">
   <div class="container">
      <div class="row">
         <p>Designed By:</p>
      </div>
      <div class="row">
         <div class="col-md-3">
            <a target="_blank" href="https://github.com/Sinuhem23/">
               Sinuhe Montero
            </a>
         </div>
         <div class="col-md-3">
            <a target="_blank" href="https://github.com/Sinuhem23/">
               Gavin Martin
            </a>
         </div>
         <div class="col-md-3">
            <a target="_blank" href="https://github.com/ybuchi">
               Yannik Buchi
            </a>
         </div>
         <div class="col-md-3">
            <a target="_blank" href="https://github.com/Sinuhem23/">
               Veger Pena
            </a>
         </div>
      </div>
   </div>

</footer>
  
</div>
  
  

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>

