
<br />
<br />

<!-- container for Body -->
<div class="container bodyContainer">
        <div class="welcome">
                <h1>Welcome!</h1>
                </div>
                
<!-- Container for intro -->
<div class="container intro">
<div class="row col-lg-12">
    <div class="introText">
        <p class="introtext2">Parents need breaks too! 
    <a href="#meetAPIs">Continue</h5></a>
    to begin that deservered break.</p>
    </div>
    <div class="container buttonContainer">
       
        <div class="col-md-">
            <a href="/signups" class="btn btn-warning signUpButton">Sign Up</a>
            </div>
        </div>
    </div>
</div>
</div>

<br />
<br />

<!-- container for API usage of Meet ups -->
<div id="meetAPIs"></div>
<div class="container">

<p>
    <!-- Meet up API Examples -->
<div class="meetUps">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius cumque
possimus, tempore commodi reiciendis ducimus laboriosam expedita at
esse repudiandae sint dolores iure! Adipisci provident accusantium
quae quos doloremque consectetur.
</p>
</div>

</div>
<br>
<br>
<div id="join"></div>

<br />
<br />
<br>
<!-- container for setting up Meet ups and blogs -->
<div class="container">
        <h1 class="choices">What would you like to do?</h1>
<div class="row">
    
<!-- Meet up Join -->
<div class="container col-md-6 aboutUs">
<div class="card">
<img class='imgSize' src="https://drinksfeed.com/wp-content/blogs.dir/1/files/2019/05/Book_Club_Wines_Getty_1920x1280.jpg" class="card-img-top" alt="MeetUps">
<div class="card-body">
<h5 class="card-title">Meet Up</h5>
<p class="card-text">Want to set a Meet Up? Simply join and enjoy!</p>
<a href="#" class="btn btn-primary">Join</a>
</div>
</div>
</div>
<!-- Blog Join -->
<div class="container col-md-6 aboutUs">
<div class="card">
<img class='imgSize' src="https://www.telemediaonline.co.uk/wp-content/uploads/2019/03/Blogging-shutterstock_225278260.jpg" class="card-img-top" alt="Blogs">
<div class="card-body">
<h5 class="card-title">Blog</h5>
<p class="card-text">Want to Blog? Simply join and enjoy!</p>
<a href="#" class="btn btn-primary">Join</a>
</div>
</div>
</div>

<!-- End of Row  -->
</div>
<!-- End of Container for Join -->
</div>

<br>
<!-- container for API usage of blogs of ages 4-6 -->

<div class="container">

<div class="meetUps">

<p>
INSERT INTO chapterbooks (firstName, lastName, email, readingLevel, bookTitle, bookAuthor, genre, readingStatus)
(Site-Word Button)
<a href="#" class="btn btn-primary">Meetup</a>
<a href="#" class="btn btn-primary">Blog</a>
</p>
</div>

</div>

<br />
<!-- container for API usage of blogs of ages 7-9 -->

<div class="container">
<div class="meetUps">

<p>
INSERT INTO chapterbooks (firstName, lastName, email, readingLevel, bookTitle, bookAuthor, genre, readingStatus)
(Chapter-Book Button)
<a href="#" class="btn btn-primary">Meetup</a>
<a href="#" class="btn btn-primary">Blog</a>
</p>
</div>
</div>

<br />
<!-- container for API usage of blogs of ages 10-12 -->

<div class="container">
<div class="meetUps">

<p>
INSERT INTO chapterbooks (firstName, lastName, email, readingLevel, bookTitle, bookAuthor, genre, readingStatus)
(Advance-Readers Button)
<a href="#" class="btn btn-primary">Meetup</a>
<a href="#" class="btn btn-primary">Blog</a>
</p>
</div>
</div>
<!-- End of API usage for Blogs -->

<!-- End of container for All -->
</div>
<br>
<br>
<!-- Footer -->
<footer class="bg-black small text-center">
<div class="container">
<div class="row">
<p>Designed By:</p>
</div>
<div class="row">
<div class="col-md-3">
<a target="_blank" href="https://github.com/Sinuhem23/">
Sinuhe Montero
</a>
</div>
<div class="col-md-3">
<a target="_blank" href="https://github.com/Sinuhem23/">
Gavin Martin
</a>
</div>
<div class="col-md-3">
<a target="_blank" href="https://github.com/ybuchi">
Yannik Buchi
</a>
</div>
<div class="col-md-3">
<a target="_blank" href="https://github.com/Sinuhem23/">
Veger Pena
</a>
</div>
</div>
</div>

</footer>

</body>
</html>










