
<br />
<br />

  <div class="container">

    <br>

    <!-- Jumbotron -->
    <div class="jumbotron" id="signup-jumbotron">
      <h1 class="text-center" id="signup-title">Sign-Up Today!</h1>
    </div>

    <div class="row">

      <!-- Sign-Up Card-->
      <div class="col-lg-12">
        <div class="card card-default">
          <div class="card-header">
            New Member Sign-Up
          </div>
          <div class="card-body">

            <!-- Sign-up Form (note the various input "types")-->
            <form role="form">
              <div class="form-group row">
                <label for="name-input">First Name:</label>
                <input class="form-control" id="first-name" type="text" placeholder="First Name">
              </div>
              <div class="form-group row">
                <label for="name-input">Last Name:</label>
                <input class="form-control" id="last-name" type="text" placeholder="Last Name">
              </div>
            <div class="form-group row">
                <label for="readinglevel">Reading Level</label>
                <select class="form-control" id="reading-level">
                <option value = 'SW'>SW - Site words</option>
                <option value = 'CB'>CB - Chapter Books</option>
                <option value = 'AR'>AR - Advanced Reader</option>
                </select>
                </div>
                <div class="form-group row">
                <label for="book-title">Book Title</label>
                <input class="form-control" id="book-title" type="text">
              </div>
                <div class="form-group row">
                <label for="book-author">Book Author</label>
                <input class="form-control" id="book-author" type="text">
              </div>
                <div class="form-group row">
                    <label for="genre">Genre</label>
                    <select class="form-control" id="genre">
                    <option>Realistic Fiction</option>
                    <option>Historical Fiction</option>
                    <option>Non-Fiction</option>
                    <option>Traditional Literature</option>
                    </select>
                </div>
                <div class="form-group row">
                <label for="reading-status">Reading Status</label>
                <input class="form-control" id="reading-status" type="text">
              </div>
              <div class="form-group row">
                <label for="email">Email:</label>
                <input class="form-control" id="email" type="email">
              </div>
              <div class="form-group row">
                <label for="age">Age:</label>
                <input class="form-control" id="age" type="number">
              </div>
              <button class="btn btn-primary" id="submit-userbookinfo" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>

    </div>

  </div>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery.js"></script>

  <!-- Script -->
  <script>
    // ========================================= START CODING BELOW!!

    // Capture Button Click
    $("#submit-userbookinfo").on("click", function(event) {
      event.preventDefault();
      
    //Use jQuery to grab the values from the form
    var firstName = $("#first-name").val().trim();
    var lastName = $("#last-name").val().trim();
    var readingLevel = $("select#reading-level option:checked").text();
    console.log("This is the first name: " + firstName);
    console.log("This is the last name: " + lastName);
    console.log(readingLevel);

    var bookTitle = $("#book-title").val().trim();
    var bookAuthor = $("#book-author").val().trim();
    console.log(bookTitle);
    console.log(bookAuthor);

    var genre = $("select#genre option:checked").text();
    console.log(genre);

    var readingStatus = $("#reading-status").val().trim();
    var email = $("#email").val().trim();
    var age = $("#age").val().trim();
    console.log(readingStatus , email , age)


      // Capture User Inputs and store them into variables
      var newForm = {
          "first name" : firstName,
          "last name" : lastName,

      }



      // Console log each of the user inputs to confirm we are receiving them correctly


      // Output all of the new information into the relevant HTML sections
    });

  </script>


